@font-face {
  font-family: 'vazirr';
  src: url('/public/Font/Vazir.ttf'),
  format('woff')
  url('/public/Font/Vazir.woff')

}
body {
  font-family: 'Vazirr', sans-serif !important;
  direction: rtl;
  text-align: right;
  background-color: #6238ec !important; /* پس‌زمینه تیره */
  color: hsl(259, 88%, 81%); /* رنگ متن روشن برای خوانایی */
  margin: 0;
  padding: 0;
}

.card {
  background-color: #110927 !important; /* رنگ کارت‌ها */
  color: #7aaff4 !important;
  border: none;
}

.btn-primary {
  background-color: #007bff !important;
  border: none;
}

.navbar,
footer {
  background-color: #220d51 !important;
  color: #faed72 !important;
}

.badge {
  background-color: #333 !important;
  color: #e2f46c !important;
}
